html {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    background-color: lightgray;
}

ul {
    list-style-type: none;  
}

header {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 5px solid blue;
}


header h1 {
    text-align: center;
    color: blue;
}

header h2 {
    text-align: center;
    color: cornflowerblue;
}

header ul li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

footer {
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: cornflowerblue;
}

.validation {
    color: cornflowerblue;
    margin-left: 10px;
}

.interior {
    margin-left: 50px;
    padding-bottom: 20px;
}   

.MainButton {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    border-radius: 12px;
    font-size: 24px;
    background: blue;
    color: white;
}

.MainButton:hover {
    background: cornflowerblue;
}

.button {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    border-radius: 12px;
    font-size: 16px;
    background: blue;
    color: white;
}

.button:hover {
    background: cornflowerblue;
}

.navigation {
    padding-bottom: 10px;
    font-size: 18pt;
}

#wrapper {
    width: 80%;
    margin: auto;
    background-color: snow;
    padding-bottom: 15px;
}

.left {
    float: left;
    width: 45%;
}

.right {
    float: left;
    width: 45%;
}

.error {
    color: cornflowerblue;
}

.incidentsTable {
    width: 80%;
    margin: auto;
}

td {
    border: 1px solid lightgray;
    height: 40px;
    width: 25%;
}
table {
    width: 100%;
}

th {
    width: 25%;
    border-left: 1px solid black;
}

label {
    display: inline-block;
    width: 150px;
}

.create-block {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
}

.create-block input{
    margin-right: 30px;
}

.pager td table tbody tr td {
    width: auto;
}

.clientMaintenanceView {
    height: 300px;
}